.popup {
  width: 90%;
  height: 160px;
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: solid 1px;
  border-radius: 20px;
  padding: 1rem;
  opacity: 0;
  pointer-events: none;
  background: var(--color-white);
}

.popup.show {
  opacity: 1;
  pointer-events: auto;
}

.popup .close {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 10px;
  color: var(--color-white);
  background-color: var(--color-red);
}

.popup p {
  margin-top: 1rem;
}

.fundo-popup {
  position: fixed;
  inset: 0;
  z-index: 2;
  opacity: 0;
  pointer-events: none;
  backdrop-filter: blur(5px);
}

.fundo-popup.active {
  opacity: 1;
  pointer-events: auto;
}